body, html, #root, .App {
  height: 100%;
}

.auth-wrapper {
  height: 100%;
  background-color: black;
  background-image: url("makeup.jpg");
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover;
}
