body, html, #root, .App {
  height: 100%;
}

#root {
  height: 100%;
  background-color: black;
  background-image: url("lipstick.jpg");
  background-position: center; 
  background-repeat: repeat; 
  background-size: cover;
}
